body {
    background-color: lightblue;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.header {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: red;
}

.body {
	margin-top: 80px;
}